<div class="l1"><div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]= "regForm" (ngSubmit)= "register()" >
                <div class="form-group">
                    <label for="username" class= "fa fa-user-o"></label>
                    <input type="text" placeholder="User Name"  formControlName="username">
                    <span class="text-danger" *ngIf= "regForm.controls.username.errors && regForm.controls.username.touched"><br>User Name is Required</span>
                </div>

                <div class="form-group">
                    <label for="name" class= "fa fa-user"></label>
                    <input type="text" placeholder="Name" formControlName="name">
                    <span class="text-danger" *ngIf= "regForm.controls.name.errors && regForm.controls.name.touched"><br>Name is Required</span>
                </div>

                <div class="form-group">
                    <label for="email" class= "fa fa-envelope"></label>
                    <input type="email" placeholder="Email Address" formControlName="email">
                    <span class="text-danger" *ngIf= "regForm.controls.email.errors && regForm.controls.email.touched"><br>Invalid Email Address</span>
                </div>

                <div class="form-group">
                    
                     <label class= "fa fa-adjust custom"> Gender</label>
                     <div class= "from-control">
                    <label class="radio-inline"> 
                    <input id="male" type= "radio" value="male" formControlName="gender"> Male</label>
                    <label class="radio-inline">
                    <input type="radio" value="female" formControlName="gender"> Female</label>
                    </div>
                    <span class="text-danger" *ngIf= "regForm.controls.gender.errors && isSubmitted"><br>Gender Required</span>
                </div>

                <div class="form-group">
                    <label for="age" class= "fa fa-child"></label>
                    <input type="number" placeholder="Age" formControlName="age">
                    <span class="text-danger" *ngIf= "regForm.controls.age.errors && regForm.controls.age.touched"><br>Age Required</span>
                </div>

                <div class="form-group">
                    <label for="mobileNumber" class= "fa fa-mobile"></label>
                    <input type="tel" placeholder="Mobile Number" formControlName="mobileNumber">
                    <span class="text-danger" *ngIf= "regForm.controls.mobileNumber.errors && regForm.controls.mobileNumber.touched"><br>Invalid Mobile Number</span>
                </div>

                <div class="form-group">
                    <label for="address" class= "fa fa-home"></label>
                    <input type="tel" placeholder="Address" formControlName="address">
                    <span class="text-danger" *ngIf= "regForm.controls.address.errors && regForm.controls.address.touched"><br>Atleast 6 character Password is Required</span>
                </div>

                <div class="form-group">
                    <label for="password" class= "fa fa-lock"></label>
                    <input type="password" placeholder="Password" formControlName="password">
                    <span class="text-danger" *ngIf= "regForm.controls.password.errors && regForm.controls.password.touched"><br>Atleast 6 character Password is Required</span>
                </div>

                
                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary" 
                    [disabled]= "!regForm.valid">Register</button>
                </div>

                <div class="text-success" *ngIf= "successMessage">
                    {{regForm.value.email}} mailId is {{successMessage}}
                </div>
            </form>
        </div>
    </div>
</div>
</div>