#appContainer{

    //height: 150%;
    
    margin-top: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1))
}

#cardStyle{
    // position: fixed;
    // padding-left: 20%;
    // padding-right: 0%;
    width: 150%;
    // height: 50%;
    top: 2px;
    left: -18%;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 5px 3px 10px 5px gray;
    margin-bottom: 50px;
}
