
   
<div id="appContainer">
    <div class="row align-items-center h-100">
        <div class="col-md-5 col-sm-10 mx-auto">
            <div id="cardStyle" class="card justify-content-center">
                <div>
                    <!------------ICON---------->
            <a class="navbar-brand" href="#">
                <img src="./assets/Emtec_Logo.png" alt="" height="50"  class="d-inline-block align-text-top">
              </a>
              <!----------->
                    <button class="nav-item nav-link" routerLink="/" class="btn"  class="btn btn-outline-dark btn" [class.btn.light]= "flag" type="button" style="width: 8%; margin-left: 430px;" (click)= "apply('home')">Home</button>
                    <button class="nav-item nav-link" routerLink="/registration-form"  class="btn" class="btn btn-outline-dark btn" [class.btn.light]= "flag2" type="button" style="width: 17%;" (click)= "apply('registration-form')">Registration-Form</button>
                    <button class="nav-item nav-link" routerLink="/user-list" class="btn" class="btn btn-outline-dark btn" [class.btn.light]= "flag3" type="button" style="width: 11%;" (click)= "apply('user-list')">Users-List</button>
                </div>

                <div class="card-body">
                    <div *ngIf="flag">
                        <router-outlet></router-outlet>
                        <!-- <app-home></app-home> -->
                    </div>
                    <div *ngIf="flag2">
                        <router-outlet></router-outlet>
                        <!-- <app-registration-form></app-registration-form> -->
                    </div>
                    <div *ngIf="flag3">
                        <router-outlet></router-outlet>
                        <!-- <app-user-list></app-user-list>                     -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
                <!--------------------------------
                <nav class="navbar navbar-expand navbar-dark ">
                    <div class="nav nav-tabs">
                        <a class="nav-item nav-link" routerLink="/v">V</a>
                    
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                              <a class="navbar-brand" href="#">
                                <img src="file:///C:/Users/Vivekkumar.Srivastav/Desktop/Project/myapp/Emtec_Logo.webp" alt="" width="30" height="24" class="d-inline-block align-text-top">
                                Emtec
                              </a>
                            </div>
                          </nav>
                          
                        <a class="nav-item nav-link" routerLink="/">Home</a>
                        <a class="nav-item nav-link" routerLink="/registration-form">Registration-Form</a>
                        <a class="nav-item nav-link" routerLink="/user-list">Users-List</a>
                    </div>
                </nav>
                




                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-25 offset-sm-1">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
                
                -------------------------------------------->
            



<!-- main content container 
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
-->