

h1{
     left: 0;
     line-height: 200px;
     margin-top: 1px;
     position: absolute;
     text-align: center;
     top: 30%;
     width: 100%;

     text-transform: uppercase;
     text-shadow: 3px 3px 2px black,
     2px 2px ipx black;
     text-decoration-color: black;
 }

.l1{
    padding-top: 95%;
    height: 150%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1))
}
